#header {
    background: #32afed;
}

.layout-sidebar-first .main-content {
    margin-left: 0;
}

#sidebar-first {
    margin-left: auto;
}

.sidebar .block {
    position: relative;
    background: white;
    border: 0;
    box-shadow: 2px 4px 8px 2px #0000001c;
    border-radius: 2px;
    padding-top: 50px;
}

.sidebar .view-last-films .view-content .views-row:first-child {
    margin: 0;
}

.sidebar .view-last-films .view-content .views-row:last-child {
    margin-bottom: 0;
}

.sidebar .view-last-films .view-content .views-row {
    text-align: center;
    margin: 30px 0px;
}

.sidebar .view-last-films .view-content .views-row .views-field-field-image {
    margin-bottom: 10px;
}

.sidebar .view-last-films .view-content .views-row .link-title {
    margin-bottom: 5px;
}

.sidebar h2 {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #32afed;
    padding: 10px 16px;
    box-shadow: none;
    text-shadow: none;
    color: white;
    border-radius: 2px 2px 0px 0px;
}

.films-horrors-slider .views-row {
    position: relative;
    overflow: hidden;
}

.films-horrors-slider .views-row .views-field-field-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.films-horrors-slider .views-row .views-field-field-image .field-content,
.films-horrors-slider .views-row {
    height: 400px;
}

.films-horrors-slider .views-row .views-field-field-image .field-content img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0.4;
}

.films-horrors-slider .views-row .views-field-field-image .field-content:before {
    content: ' ';
    background: #0a6eb4;
}

.films-horrors-slider .views-row .views-field-title,
.films-horrors-slider .views-row .views-field-field-opisanie-filma,
.films-horrors-slider .views-row .views-field.views-field-view-node,
.films-horrors-slider .views-row .views-field-field-image .field-content:before {
    width: 100%;
    height: 100%;
    position: absolute;
}

.films-horrors-slider .views-row .views-field-title {
    z-index: 1;
}

.films-horrors-slider .views-row .views-field-title .item-title-container {
    width: 450px;
    margin: auto;
    text-align: center;
}

.films-horrors-slider .views-row .views-field-title .item-title-container p {
    color: #d41c1c;
    background: white;
    width: fit-content;
    padding: 8px 24px;
    margin: auto;
    font-size: 22px;
    font-weight: 700;
    border-radius: 2px 2px;
    margin-top: 100px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.18);
}

.films-horrors-slider .owl-nav {
    display: none;
}

.films-horrors-slider .owl-dots {
    margin-top: 25px;
}

.films-horrors-slider .views-row .views-field-field-opisanie-filma .desc-content {
    width: 600px;
    margin: auto;
    text-align: center;
    color: white;
    text-transform: unset;
    margin-top: 175px;
}

.films-horrors-slider .views-row .views-field.views-field-view-node {
    text-align: center;
    margin-top: 270px;
}

.films-horrors-slider .views-row .views-field.views-field-view-node a {
    position: relative;
    z-index: 2;
}

.last-cinema-news .view-content .views-row {
    position: relative;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    height: 201px;
    background: white;
    box-shadow: 0px 0px 6px 7px #0000001f;
    border-radius: 2px;
    margin-bottom: 40px;
    padding: 9px 0px;
    padding-right: 12px;
}

.last-cinema-news .view-content .views-row .views-field-field-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 145px;
}

.last-cinema-news .view-content .views-row .views-field-field-image img {
    width: 100%;
    height: 201px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.last-cinema-news .view-content .views-row .views-field-title,
.last-cinema-news .view-content .views-row .views-field-body {
    padding-left: 155px;
    font-size: 15px;
}

.last-cinema-news .view-content .views-row .views-field-view-node a {
    color: white;
    position: absolute;
    left: 6px;
    width: 130px;
    bottom: 10px;
}

.header-menu {
    background: white;
    padding-top: 15px;
}

nav.navigation.menu--main .content {
    position: relative;
}

nav.navigation.menu--main .content ul.clearfix.menu li {
    position: relative;
    margin: 2px 15px;
}

nav.navigation.menu--main .content ul.clearfix.menu li:first-child {
    margin-left: 0;
}

nav.navigation.menu--main .content ul.clearfix.menu li a {
    margin: 0;
    border-radius: 0;
    text-shadow: none;
    color: #0088cc;
    border-bottom: 2px solid;
    padding: 6px 18px;
}

nav.navigation.menu--main .content ul.clearfix.menu li.menu-item--expanded a {
    padding-right: 35px;
}
.region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail > a {
    box-shadow: 0px 0px 11px 5px #0000002b !important;
    border-radius: 1px;
    border-bottom: none !important;
}

.region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail li.menu-item--active-trail {
    box-shadow: none;
    font-weight: 700;
    padding-left: 10px;
}
.region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail li.menu-item--active-trail {
    box-shadow: none !important;
}
nav.navigation.menu--main .content ul.clearfix.menu li ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    width: 225px;
    z-index: 2;
    background: white;
    box-shadow: 0px 0px 4px 3px #00000014;
}

nav.navigation.menu--main .content ul.clearfix.menu li ul > li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #bbbbbb;
}

nav.navigation.menu--main .content ul.clearfix.menu li ul > li:last-child {
    border-bottom: none;
}

nav.navigation.menu--main .content ul.clearfix.menu li ul > li a {
    border: none;
}

nav.navigation.menu--main .content ul.clearfix.menu li.menu-item--expanded > a:before {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    right: 0;
    background: url(http://dev2.drupal.local/sites/all/themes/dev_film_nix/assets/css/down.png);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-footer .block {
    margin: 0;
    border: 0;
    padding: 0;
}

.site-footer .block ul {
    padding: 0;
}

.site-footer .block ul li {
    display: inline-block;
    width: 24%;
}

.site-footer #block-bottomfooter {
    margin-top: 45px;
    text-align: center;
}

.home-films-bottom .views-row {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid #4a4a4a1f;
    margin: 11px;
    padding: 18px 20px;
    border-radius: 2px;
}

.home-films-bottom .views-row img {
    margin-bottom: 10px;
    border-radius: 2px;
}

.home-films-bottom .views-row .views-field-title {
    margin-bottom: 5px;
}

header .site-branding__logo {
    position: relative;
}

header .site-branding__logo img {
    position: absolute;
    max-width: inherit;
    width: 55px;
    top: -16px;
}


header nav.menu--header-2 .clearfix.menu li {
    display: inline-block;
    border: none;
}

header nav.menu--header-2 .clearfix.menu li a {
    border: none;
}

.region-header .block-menu {
    border: none;
}