.user_ex__panel_status {
    position: fixed;
    bottom: 25px;
    left: 25px;
    background: whitesmoke;
    width: 350px;
    z-index: 1;
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.16);
}

.user_ex__panel_status span.active {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    right: 15px;
    top: 27px;
}

.user_ex__panel_status.is_guest span.active {
    background: #a71515;
}
.user_ex__panel_status.is_user span.active {
    background: #73a717;
}